*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
}

body{
     width: 1520px;
	margin: auto;
    
}
#phandau {
	width: 1520px;
	height: 130px;
	border: 0px solid red;
/*	background-color: chartreuse;*/
	border-bottom: 3px solid red;
    background-repeat: no-repeat;
	background-image: url("Ảnh/anhtrongdonghung 2.jpg");
    background-size: 100% 150px;
    
    		
}
.logo{ 
	float: left;
	padding-left: 200px;
	padding-top: 20px;
	
}

.h9{
	 float: right;
	margin-right:200px;
	
	}

.h9 input{
	width: 280px;
	height: 34px ;
	border: 1.5px solid rgb(159,156,149);
	border-radius: 10px;
}

.container{
	width: 1100px; 	
	margin: 0 auto;
/*	border: 1.5px solid pink;*/
}

.menu ul{
        margin: 0;
        padding: 0;
        list-style: none;
		background-color: #D71920;
        

}
   .menu li{
        width: 150px;
    }
    .menu > ul{
        height: 40px;
    }
    .menu > ul > li{
        display: inline-block;
        border-right: 1px solid #dddddd;
        position: relative;
		text-align: center;
		line-height: 40px;
    }
    .menu > ul > li >a {
	text-decoration: none;
	color: #fff;
}
      .menu > ul > li > ul {
        display: none;
        position: absolute ;
        top: 30px; 
		padding-left:10px;
	    text-align: left;
		width: 200px;
    }
    .menu > ul > li > ul li{
        padding: 5px 0;
        border-bottom: 1px ;
		color: #fff;
    }
    .menu ul li:last-child{
        border: none;
    }
     .menu ul li:nth-child(3){
        width: 300px;
    }
   
    .menu ul li:nth-child(4){
		width: 200px;
    }

    .menu ul li:hover ul{
        display: block;
    }
#phangiua { 
	width: 1100px;
	height: 1800px;
/*	border: 1px solid blue;*/
	margin: 0px auto;
	
}
  
.left {
	width:766px; height: 1500px;
/*	background: #66E633;*/
	 
	float: left;	
}

.right {
	width:320px; height: 1500px;
/*	background: #8F61D3;*/
	float: right;
	
}

.left h3 {
	width: 755px; height: 36px; 
	background: #DDDDDD;
    color: #404041;
	padding: 9px 0 0 25px; 
}

.left img {
	width: 181px; height: 310px;
	padding: 10px 0px 50px 0px;
	
}

.left ul {
	float:right;
	list-style: none;
	padding-top: 12px;
	margin-right: 120px;
	text-align:start;
	background-color: #fff;
	
}

.right .ndtren {
	width: 320px; height: 275px;
	background-color: #FDF1F1;
	border-bottom:solid #D71920;
	border-bottom-width: 3.9604px;
}

.ndtren .linered {
	border-top: 2px solid #d71920;
    width: 30%;
    margin: 0 auto; 	
	
}

.ndtren h3 {
	text-align: center;
    padding-top: 25px;
	color: #404041;
}

.ndtren ul  {
	padding: 20px 0 10px 25px;
	background: #FDF1F1;
}

.ndtren ul li  { 
	 display: list-item;
     text-align: -webkit-match-parent;
     font-size: 25px;
     font-weight: normal;
     vertical-align: baseline;
	list-style: none;
	padding: 15px 0px;

}
.ndtren ul li a.active  { 
  font-weight: bold;
    color: #be1e2d; 
	text-decoration: none;
	
}

.ndtren ul li a  { 
	 color: #58585b;
    font: 100 15px/18px Roboto,Arial,Tahoma;
    text-decoration: none;
	float: left;
	
}

.right .ndduoi {
	width: 320px; height: 358px;
	margin-top: 15px;
	background: #FDF1F1;
	 
}
.ndduoi h3 {
	text-align: center;
    padding-top: 25px;
	color: #404041;
}
.ndduoi .linered {
	border-top:2px solid #d71920;
    width: 30%;
    margin: 0 auto;
}



.ndduoi ul {
	margin-right: 10px;
	margin-bottom: 15px;
	padding: 20px 5px 0px 15px;
	list-style: none;
	display: block;
	overflow-x: hidden;
	height: 270px;
	background-color: #FDF0F0;
}


.ndduoi ul li {
	padding-left: 25px;
    margin-bottom: 15px;
    display: list-item;
    text-align: -webkit-match-parent;
	
}

.ndduoi ul li a {
	color: #58585b;
    font: 500 14px/18px Roboto,Arial,Tahoma;
    display: block;
    text-decoration: none;

}
.abc {
	
	width: 301px;
	height: 285px;
	margin: 22px 8px;
	font-size: 16px;
	overflow-y: scroll;
}

.right img {
	width: 320px;
	height: 90px; 	
	margin: 15px 0px 15px 0px;
}

.lkweb {
	width: 320px;height: 135px;
	background: #FDF1F1;
	
}
 
.lkweb h3 {
	text-align: center;
    padding: 15px 0 5px 0;
	color: #404041;
	
}
.lkweb .linered {
	border-top:2px solid #d71920;
    width: 30%;
    margin: 0 auto;
}
.lkweb select {
	  width: 210px; height: 30px;
    margin: 25px 55px;
}



 


/* Phần kết - footer css */
#phanket  {
	width: 1520px;
	height: 415px;
	
    background-image: url("Ảnh/anhtrongdonghung 2.jpg");
	background-repeat: no-repeat;
	background-size: 1520px 355px;
	border-top: 3px solid #BE1E2D;
	
}

#phanket .menu-footer {
	width: 1520px;
	height: 355px;
}

.footer-layout ul {
	text-align: center;
}

.footer-layout ul li {
	display: inline-block;
    list-style: none;
    padding: 22px 15px;
}
.footer-layout ul li a {
	text-decoration: none;
	color: #BE1E2D;
	font-size: 18px;
	font-weight: bold;
}


.footer-child ul { 
	text-align: center;
}
.footer-child ul li {
	display: inline-block;
    list-style: none;
	padding: 0 15px 35px ;
}

.footer-child ul li a {
	text-decoration: none;
	color: #404041;
	font-size: 17px;
}
.menu-footer img {
	width: 200px;  height: 150px;
} 

.menu-footer .footer-text1 {
	font: 700 18px Roboto,Arial,Tahoma;
    color: #be1e2d;
    text-transform: uppercase;
	text-align: center;
	font-size: 17px;
}
.menu-footer .footer-text2 {
	text-align: center; 
	font-size: 15px;
}
.menu-footer .p {
	padding: 25px 0 30px 0;
   display:block;
}

#phanket .footer-text3 {
	width: 1520px;
	height: 50px;
	background-color: #BE1E2D;
 
	
}
#phanket .footer-text3 p {
	float: left;
    font: 100 13px Roboto,Arial,Tahoma;
    color: #FFF;
    padding: 10px 0 0 200px;
	display: block;
}
